aside.sidebar {
	margin-top:3%;
	@include grid-column(4);
	@include unset-mobile-medium-zero;
	@media #{$small-only} {
		padding-left:1em;
		padding-right:1em;
	display:block;
	}
	@media #{$medium-only} {
	display:block;
	}
	color:#fff;
}

.sidebar-testimonials {
    .italic {
    color:#fff;
    font-size:15px;
    font-style: italic;
    }
}

aside.sidebar{

	.search-form{
		.search-field {
			font-family: Arial, sans-serif;
			font-size: 13px;
			margin: 0 -31px 0 0;
			padding: 10px 30px 10px 8px;
			line-height: 40px;
		}
		.search-submit {
			text-indent: -9999px;
			background: url(../images/icons/search.png) no-repeat center;
			background-size:contain;
			border: medium none;
			float:right;
			margin-top:-30px;
			margin-right:5px;
			height: 23px;
			width: 21px;
		}
	}
	.sidebar-title{

		h3{
			text-transform: uppercase;
			color:$offblack;
		}
	}
	.recent-blog-posts{
		margin-top:4em;
		.entry{
			display: flex;
			align-items: center;
			justify-content: center;
			border-bottom: 2px dotted #e9dfdf;
			padding-top:1.5em;
			padding-bottom:1.5em;
			.image-area{
				width:30%;
				display: inline-block;
			}
			.text-area{
				width:60%;
				padding-left:1em;
				display: inline-block;
			}
			.title>a{
				color: $offblack;
				font-size:.8em;
			}
		}
	}
	.category-lists{
		margin-top:4em;
		ul{
			margin-left:0;
		}
		li{
			border-bottom: 2px dotted #e9dfdf;
			padding-top:.5em;
			padding-bottom:.5em;
		}
		.cat-id{
			float:right;
			color:#e9dfdf;
		}
	}

	.join-form{
		margin-top:4em;
		color:$offblack;
	}
	.tag-lists{
		margin-top:4em;

	}

	.ad-area{

		margin-top:4em;
		height:596px;
		background-color:#00aadc;
	}

}
